<%- include('../layout/_header.html.ejs') %>

<p><strong>First name:</strong> <%= firstName %></p>
<p><strong>Last name:</strong> <%= lastName %></p>
<p><strong>Email:</strong> <a href="mailto:<%= email %>"><%= email %></a></p>
<p><strong>Description:</strong> <%= desc %></p>
<p><strong>Property address:</strong> <%= address %></p>
<p><strong>Budget:</strong> <%= budget %></p>
<p><strong>Timeframe:</strong> <%= timeframe %></p>

<%- include('../layout/_footer.html.ejs') %>
